# Node
node_modules/
npm-debug.log
yarn-error.log

# Build files
target/
build/*
!build/
!build/*.arcis
!build/*.hash
!build/*.idarc
!build/*.weight
dist/
artifacts/
**/Cargo.lock
!/Cargo.lock

# Environment
.env
.env.*

# OS files
.DS_Store
*.swp
*~

# Vendor / Cargo specifics
**/.cargo_vcs_info.json
